/*
Payton Lutterman
Bear Website CSS
Last Updated 9-18
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem; 
    background: #228B22;
    border: ridge white;
}

nav ul {
    display: flex; 
    list-style: none; 
}

nav li {
    padding-left: 1rem; 
}

nav a {
    padding-left: 1rem; 
    text-decoration: none;
    color: white;
    font-size: large;
}

nav h2 {
    color: white;
}

/* Body */

.brownb {
    background-image: url(https://images.unsplash.com/photo-1530595467537-0b5996c41f2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.blackb {
    background-image: url(https://images.unsplash.com/photo-1596635633339-1fe572f244e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmxhY2slMjBiZWFyfGVufDB8fDB8fHww&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.polarb {
    background-image: url(https://images.unsplash.com/photo-1589656966895-2f33e7653819?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cG9sYXIlMjBiZWFyfGVufDB8fDB8fHww&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.Brown {
    margin-top: 20px;
    width: 70%;
    background-color: #e0a23fa2;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: white;
    text-align: center;
  }

  .Black {
    margin-top: 20px;
    width: 70%;
    background-color: #433a2aa2;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: white;
    text-align: center;
  }

  .Polar {
    margin-top: 20px;
    width: 70%;
    background-color: #ffffffa2;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: #228B22;
    text-align: center;
  }

  main h1 {
    padding-bottom: 5px;
  }

  main p {
    font-size: large;
  }

  /* Footer */